{% extends 'accounts/base.html' %}
{% block content %}

<div class="row mt-5">
   <div class="col-md">
      <div class="card card-header">
         <h5 class="card-title">Products</h5>
      </div>
       <div class="card card-body">
           <table class="table">
               <tr>
                   <th>Product</th>
                   <th>Category</th>
                   <th>Price</th>
               </tr>

               {% for i in products %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.category }}</td>
                        <td>{{ i.price }}</td>
                    </tr>
               {% endfor %}
           </table>
       </div>
   </div>
</div>   
{% endblock %}